<div class="row mt-0" >
  <div class="col-12 col-md-8">
      <div class="card scaneo">
          <div class="row mt-2">
            <div class="col-12 col-md-6">
             <div class="form-group">
               <p class="articulo" >Mouse </p>
             </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group ">
                <p class="articulo float-right"  >S/18.00</p>
              </div>
           </div>
           </div>
           <div class="row">
            <div class="col-12 col-md-6">
             <div class="form-group">
               <p class="articulo float-righ" >Parlantes </p>
             </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group ">
                <p class="articulo float-right" >S/30.00</p>
              </div>
           </div>
           </div>
           <div class="row">
            <div class="col-12 col-md-6">
             <div class="form-group">
               <p class="articulo" >Laptop </p>
             </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group float-right">
                <p class="articulo" >S/20.00</p>
              </div>
           </div>
           </div>
      </div>
      <div class="card mt-2">
          <div class="form-group d-flex justify-content-between align-items-center cajaboton">
            <button type="button" class="btn  btn-lg btn-danger botonbuscar ml-auto"><i class="icon ion-md-search"></i>Buscar o ingresa producto</button>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-4 pb-4">
      <div class="card">
         <div class="row mt-2 p-1">
             <div class="col-12 col-md-6">
              <div class="form-group">
                <p class="articulo" >Articulo</p>
              </div>
             </div>
             <div class="col-12 col-md-6">
              <div class="form-group ">
                <button class="btn btn-lg btn-success float-right">Editar Carrito</button>
              </div>
            </div>
         </div>

         </div>
      <div class="card">
        <div class="row mt-2 p-1">
            <div class="col-12 col-md-6">
             <div class="form-group">
             <button class="btn btn-lg btn-success">Vea Club</button>
             </div>
            </div>
            <div class="col-12 col-md-6">
             <div class="form-group ">
               <button class="btn btn-lg btn-warning float-right">Cupon</button>
             </div>
           </div>
        </div>

         </div>
     <div class="card">
         <div class="row mt-2 p-1">
          <div class="col-12 col-md-6">
           <div class="form-group">
            <p class="registro">Puntos Ganados</p>
           </div>
          </div>
          <div class="col-12 col-md-6">
           <div class="form-group float-right">
              <p class="registro">0</p>
           </div>
         </div>
          </div>
          <div class="row  p-1">
        <div class="col-12 col-md-6">
         <div class="form-group">
          <p class="registro">Monto ahorrado</p>
         </div>
        </div>
        <div class="col-12 col-md-6">
         <div class="form-group float-right">
          <p class="registro">S/0.00</p>
         </div>
       </div>
           </div>
      </div>
    <div class="card">
         <div class="row mt-2 p-1">
          <div class="col-12 col-md-6">
           <div class="form-group">
            <p class="registro">Mouse</p>
           </div>
          </div>
          <div class="col-12 col-md-6">
           <div class="form-group float-right">
            <p class="registro">S/18.00</p>
           </div>
         </div>
          </div>
           <div class="row p-1">
        <div class="col-12 col-md-6">
         <div class="form-group">
          <p class="registro">Parlantes</p>
         </div>
        </div>
        <div class="col-12 col-md-6">
         <div class="form-group float-right">
          <p class="registro">S/30.00</p>
         </div>
       </div>
           </div>
          <div class="row p-1">
      <div class="col-12 col-md-6">
       <div class="form-group">
        <p class="registro">Laptop</p>
       </div>
      </div>
      <div class="col-12 col-md-6">
       <div class="form-group float-right">
        <p class="registro">S/20.00</p>
       </div>
     </div>
           </div>
          </div>
    <div class="card">
      <div class="row">
          <div class="col-12">
           <div class="form-group ">
             <button class="btn btn-lg btn-danger w-100">PAGAR S/68.00</button>
           </div>
         </div>
      </div>

   </div>
  </div>
</div>



