<div  id="content-wrapper" >
  <!-- Page Content -->
  <div id="page-content-wrapper" class="w-100 bg-light-blue">
    <nav class="navbar navbar-expand-lg navbar-light bg-success border-bottom">
      <div class="container-fluid">
        <div class="logo" >
             <h2 class="text-white">HAR<span class="letrat">T</span>ECH</h2>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link text-light letrasmenu" [routerLink]="['/producto']" id="navbarDropdown" >
               Computacion
             </a>
             </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light letrasmenu" [routerLink]="['/producto']" id="navbarDropdown" >
               Seguridad e Informatica
            </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light letrasmenu" [routerLink]="['/producto']" id="navbarDropdown" >
               Construccion
            </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light letrasmenu" [routerLink]="['/producto']" id="navbarDropdown" >
                Uniformes
               </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light letrasmenu" [routerLink]="['/producto']" id="navbarDropdown" >
                Conectividad
               </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light letrasmenu" [routerLink]="['/producto']" id="navbarDropdown" >
                Utiles de oficina
               </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle letrasmenu" [routerLink]="['/producto']" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon ion-md-person"></i>
                Administrador
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item " [routerLink]="['/producto']">Mi perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/producto']">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div  class="container-fluid p-2 bg-light contenedorglobal">
      <section>
        <!-- Highlights -->
        <div class="row">
          <div class="col-12 col-lg-8">
              <div class="card scaneo">
                <div class="card-body">
                  <h5 class="card-title">Empezar el Scaneo</h5>
                </div>
              </div>
              <div class="card mt-2">
                  <div class="form-group d-flex justify-content-between align-items-center cajaboton">
                    <button type="button" class="btn  btn-lg btn-danger botonbuscar ml-auto" (click)=(busquedaproductos())><i class="icon ion-md-search"></i>Buscar o ingresa producto</button>
                  </div>
              </div>
          </div>
        </div>


        <div class="row" >

          <modal #myModal>

              <modal-header>
                  <h1>Login</h1>
              </modal-header>
              <modal-content>
                <div class="form-group">
                  <i class="fa fa-user"></i>
                  <input type="text" class="form-control" [(ngModel)]="user.username"  placeholder="Ingrese el usuario">
                </div>
                <div class="form-group">
                  <i class="fa fa-key"></i>
                  <input type="password" class="form-control"  [(ngModel)]="user.password"   placeholder="Ingrese su contraseña">
                </div>
              </modal-content>
              <modal-footer style="padding-right: 250px;">
                  <button class="btn btn-primary loginsesion" (click)=(sesion())>Iniciar Sesion</button>
              </modal-footer>

          </modal>

        </div>

        <!-- Fin highlights -->
        <!-- Fin Eventos -->
      </section>
    </div>
  <!-- Fin Page Content -->
</div>
