<div class="container">
  <div class="form-group inputproducto">
    <i class="icon ion-md-search"></i>
    <input type="text" class="form-control inputtexto" id="exampleInputEmail1 " aria-describedby="emailHelp" placeholder="Ingresar el producto">
  </div>
<owl-carousel-o [options]="customOptions" >
  <ng-template carouselSlide>
    <div class="card"  >
      <img  src="../../../../assets/imagenes/cpu.jpg" >
      <h5>NOTEBOOK DIREKT-TEK DTLAPY116 2 EN 1 SL INTEL ATOM 32GB 4GB</h5>
      <p><strong>Modelo :</strong> DTLAPY1161</p>
      <a [routerLink]="['/pagaproducto']" class="btn btn-primary stretched-link">
        <i class="icon ion-md-cart"></i>Agregar al Carrito</a>
    </div>
    <div class="card mt-2" >
      <img  src="../../../../assets/imagenes/MOUSE-LENOVO-MS200-GB.png" >
     <h5>NOTEBOOK DIREKT-TEK DTLAPY116 2 EN 1 SL INTEL ATOM 32GB 4GB</h5>
      <p><strong>Modelo :</strong> DTLAPY1161</p>
      <a [routerLink]="['/pagaproducto']" class="btn btn-primary stretched-link">
        <i class="icon ion-md-cart"></i>Agregar al Carrito</a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card" >
      <img  src="../../../../assets/imagenes/alimentacion.jpg" >
      <h5>NOTEBOOK DIREKT-TEK DTLAPY116 2 EN 1 SL INTEL ATOM 32GB 4GB</h5>
      <p><strong>Modelo :</strong> DTLAPY1161</p>
      <a [routerLink]="['/pagaproducto']" class="btn btn-primary stretched-link">
        <i class="icon ion-md-cart"></i>Agregar al Carrito</a>
    </div>
    <div class="card  mt-2">
      <img  src="../../../../assets/imagenes/laptopanngello.jpg" >
    <h5>NOTEBOOK DIREKT-TEK DTLAPY116 2 EN 1 SL INTEL ATOM 32GB 4GB</h5>
    <p><strong>Modelo :</strong> DTLAPY1161</p>
    <a [routerLink]="['/pagaproducto']" class="btn btn-primary stretched-link">
      <i class="icon ion-md-cart"></i>Agregar al Carrito</a>
  </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card" >
      <img  src="../../../../assets/imagenes/cpu.jpg" >
      <h5>NOTEBOOK DIREKT-TEK DTLAPY116 2 EN 1 SL INTEL ATOM 32GB 4GB</h5>
      <p><strong>Modelo :</strong> DTLAPY1161</p>
      <a [routerLink]="['/pagaproducto']" class="btn btn-primary stretched-link">
        <i class="icon ion-md-cart"></i>Agregar al Carrito</a>
    </div>
    <div class="card mt-2">
      <img  src="../../../../assets/imagenes/camara.png" >
    <h5>NOTEBOOK DIREKT-TEK DTLAPY116 2 EN 1 SL INTEL ATOM 32GB 4GB</h5>
    <p><strong>Modelo :</strong> DTLAPY1161</p>
    <a [routerLink]="['/pagaproducto']" class="btn btn-primary stretched-link">
      <i class="icon ion-md-cart"></i>Agregar al Carrito</a>
  </div>
  </ng-template>
</owl-carousel-o>
</div>
