img{

  height: 140px;
}
.card{
  width:320px;
  padding: 20px;
}

.inputproducto{
  padding-right: 50px;
  position: relative;
}
.ion-md-search{
 position: absolute;
 font-size: 40px;
  left:8px;

}

.inputtexto{
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 22px;
  padding-left: 45px;

}
.ion-md-cart{
  font-size: 20px;
  margin-right: 10px;
}
