
h5{
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 80px;
  font-size: 70px;
}
.scaneo{
  padding-right:50px;

}

.ion-md-search{
  font-size: 24px;
  color:white;
  margin-right: 10px;
}
.botonbuscar{
  font-size: 20px;
  margin-top: 10px;
}
.cajaboton{
  padding-right: 20px;
}

input{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  padding-left: 70px;
}

.loginsesion{
  width: 100%;
  padding: 20px 60px;
  font-size: 20px;
}
modal-header{
  width: 100%;
}
.form-group{
  position: relative;
}
.fa-user{
  position: absolute;
  top:9px;
  left:10px;
  font-size: 60px;
}
//Estilo para el icono del password
.fa-key{
  position: absolute;
  top:9px;
  left:10px;
  font-size: 60px;
}
